<div>
	<p><a href="" back-button><i class="icon-angle-left"></i> Back</a></p>
	<div style="float:left" class="page-header">
		<h1>Create an Account</h1>
	</div>
	<!--<p style="float:right">{{user.email}} <a class="btn btn-primary" ng-click="logout('/users/login')">Logout</a></p>-->
</div>
<div style="clear:both;"></div>


<form class="form-horizontal col-md-6" role="form" data-ng-init="populateDataElements()" ng-submit="create()">
		<div class="form-group">
			<label for="name" class="col-md-2 control-label">Display Name</label>
			<div class="col-md-10">
				<input type="text" class="form-control" data-ng-model="name" id="name" placeholder="Display Name" required>
			</div>
		</div>
		<div class="form-group">
			<label for="description" class="col-md-2 control-label">Description</label>
			<div class="col-md-10">
				<input type="text" class="form-control" data-ng-model="description" id="description" placeholder="Description" required>
			</div>
		</div>
		<div class="form-group">
			<label for="account" class="col-md-2 control-label">Account</label>
			<div class="col-md-10">
				<select ng-model="selectedMediaType" ng-options="mediaType.name | truncate for mediaType in mediaTypes">
					<option value="">-- Choose Account --</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="object_name" class="col-md-2 control-label">Username</label>
			<div class="col-md-10">
				<input type="text" class="form-control" data-ng-model="object_name" id="object_name" placeholder="Username" required>
			</div>
		</div>
		<div class="form-group">
			<label for="description" class="col-md-2 control-label">Network</label>
			<div class="col-md-10">
				<select ng-model="selectedNetwork" ng-options="network.name for network in networks">
					<option value="">-- Choose Network --</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="description" class="col-md-2 control-label">Service</label>
			<div class="col-md-10">
				<select ng-model="selectedService" ng-options="service.name for service in services">
					<option value="">-- Choose Service --</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="language" class="col-md-2 control-label">Language</label>
			<div class="col-md-10">
				<select ng-model="selectedLanguage" ng-options="language.name for language in languages">
					<option value="">-- Choose Language --</option>	
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="description" class="col-md-2 control-label">Region</label>
			<div class="col-md-10">
				<select multiple ng-model="selectedRegion" ng-options="region.name for region in regions"></select>
			</div>
		</div>
		<div class="form-group">
			<label for="description" class="col-md-2 control-label">Country</label>
			<div class="col-md-10">
				<select multiple ng-model="selectedCountry" ng-options="country.name for country in countries"></select>
			</div>
		</div>
		<div class="form-group">
			<label for="description" class="col-md-2 control-label">Account Type</label>
			<div class="col-md-10">
				<select ng-model="selectedAccountType" ng-options="accountType.name for accountType in accountTypes">
					<option value="">-- Choose Account Type --</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="description" class="col-md-2 control-label">SiteCatalyst Segment</label>
			<div class="col-md-10">
				<select multiple ng-model="selectedSegment" ng-options="segment.name for segment in segments">
					<option value="">-- Choose Segment --</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</div>
</form>
