<!-- user comes from $scope.user -->
<div>
    <p><a href="" back-button><i class="icon-angle-left"></i> Back</a></p>
	<div style="float:left" class="page-header">
		<h1>Edit an Account</h1>
	</div>
	
</div>
<div style="clear:both;"></div>



<form class="form-horizontal col-md-6" role="form" data-ng-init="find()" ng-submit="update()">
		<div class="form-group">
			<label for="name" class="col-md-2 control-label">Display Name</label>
			<div class="col-md-10">
				<input type="text" class="form-control" data-ng-model="account.name" id="name" placeholder="Display Name" required>
			</div>
		</div>
		<div class="form-group">
			<label for="description" class="col-md-2 control-label">Description</label>
			<div class="col-md-10">
				<input type="text" class="form-control" data-ng-model="account.description" id="description" placeholder="Description" required>
			</div>
		</div>
        <div class="form-group">
            <label for="account" class="col-md-2 control-label">Account</label>
            <div class="col-md-10">
                    <span class="account-selection" ng-repeat="mediaType in mediaTypes">
                        <input class="mediatype-selection" type="radio" name="name" ng-value="mediaType" ng-model="$parent.selectedMediaType">{{ mediaType.name | truncate }}
                    </span>
            </div>
        </div>
		<div class="form-group">
			<label for="object_name" class="col-md-2 control-label">URL</label>
            <div class="col-md-3">
                <input type="text" value="http://www.{{ selectedMediaType.name | prepopulateUrl }}" class="form-control" placeholder="" required="" readonly>
            </div>
            <div class="col-md-1 forward-slash">/</div>
			<div class="col-md-6">
				<input type="text" class="form-control" data-ng-model="account.object_name" id="object_name" placeholder="@voanews (Twitter), voanews (Facebook)" required>
			</div>
		</div>
        <div class="form-group">
            <label for="object_name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div>
                    <span>Try your URL here: </span><a class="account-link" target="_blank" href="http://www.{{ selectedMediaType.name | prepopulateUrl }}/{{ account.object_name }}">http://www.{{ selectedMediaType.name | prepopulateUrl }}/{{ account.object_name }}</a>
                </div>
            </div>
        </div>
    <!--
		<div class="form-group">
			<label for="organization" class="col-md-2 control-label">Organization</label>
			<div class="col-md-10">
				<select class="form-control" ng-model="selectedOrganization" ng-options="organization.name for organization in organizations">
					<option value="">-- Choose Organization --</option>
				</select>
			</div>
		</div>
		-->
		<div class="form-group">
			<label for="group" class="col-md-2 control-label">Group</label>
			<div class="col-md-10">
				<select class="form-control" multiple ng-model="selectedGroups" ng-options="group.name for group in groups">
					<option value="">-- Choose Group --</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="subgroup" class="col-md-2 control-label">Subgroup(s)</label>
			<div class="col-md-10">
				<select class="form-control" ng-model="selectedSubgroup" ng-options="subgroup.name for subgroup in subgroups" multiple ng-multiple="true">
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="language" class="col-md-2 control-label">Language</label>
			<div class="col-md-10">
				<select class="form-control" multiple ng-model="selectedLanguages" ng-options="language.name for language in languages"></select>
			</div>
		</div>
		<div class="form-group">
			<label for="description" class="col-md-2 control-label">Region</label>
			<div class="col-md-10">
				<select class="form-control" multiple ng-model="selectedRegion" ng-options="region.name for region in regions"></select>
			</div>
		</div>
		<div class="form-group">
			<label for="description" class="col-md-2 control-label">Country</label>
			<div class="col-md-10">
				<select class="form-control" multiple ng-model="selectedCountry" ng-options="country.name for country in countries"></select>
			</div>
		</div>
		<div class="form-group">
			<label for="description" class="col-md-2 control-label">Account Type</label>
			<div class="col-md-10">
				<select class="form-control" ng-model="selectedAccountType" ng-options="accountType.name for accountType in accountTypes"></select>
			</div>
		</div>
		<div class="form-group">
			<label for="description" class="col-md-2 control-label">SiteCatalyst Segment</label>
			<div class="col-md-10">
				<select class="form-control" multiple ng-model="selectedSegment" ng-options="segment.name for segment in segments"></select>
			</div>
		</div>
		<div class="form-group">
            <div class="col-md-2" style="float: right">
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</div>
</form>
