<!-- user comes from $scope.user -->
<div>
	<p><a href="" back-button><i class="icon-angle-left"></i> Back</a></p>
	<div style="float:left" class="page-header">
		<h1>Social Media Accounts</h1>
	</div>
	<!--<p style="float:right">{{user.email}} <a class="btn btn-primary" ng-click="logout('/users/login')">Logout</a></p>-->
</div>
<div style="clear:both;"></div>

<!-- Modal for Delete Confirmation -->
<div ng-if="loggedInUser" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Delete Confirmation</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete {{ accountName }}?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="confirmDelete()">Yes</button>
      </div>
    </div><!-- /.modal-content -->
  </div>
</div>

<a ng-show="loggedInUser" class="btn btn-info" href="#/accounts/create"><span class="ion-plus-round"></span> New Social Media Source</a>
<hr ng-show="loggedInUser">

<div class="panel panel-default" ng-init="list()">
 <!-- Default panel contents -->
	  <br>
      <!-- Table -->
      <table class="table table-striped accounts-table" ng-show="accounts.length > 0">
        <thead>
          <tr>
            <th style="width: 170px"><a href="" ng-click="reverse=!reverse;order('name', reverse)">Name <i class="icon-sort"></i></a></th>
    <!--    <th style="width: 100px">Account Type</th> -->
            <th style="width: 80px"><a href="" ng-click="reverse=!reverse;order('group_name', reverse)">Group <i class="icon-sort"></i></a></th>
            <th><a href="" ng-click="reverse=!reverse;order('service_name', reverse)">Subgroup <i class="icon-sort"></i></a></th>
            <th style="width: 80px"><a href="" ng-click="reverse=!reverse;order('language_name', reverse)">Language <i class="icon-sort"></i></a></th>
            <th>Region</th>
            <th>Country</th>
  <!--      <th>Segment</th> -->
            <th ng-show="loggedInUser">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="account in accounts">
				<td>
					<i class="ion-social-{{account.media_type_name | displayIcon}} {{account.media_type_name | displayIcon}}-icon-list account-icon"></i>
					<a class="account-link" ng-show="loggedInUser" href="#/accounts/edit/{{account.id}}">{{account.object_name}}</a>
					<span ng-show="!loggedInUser">{{account.object_name}}</span> 
				</td>
			<!--	<td><i class="icon-{{account.media_type_name | displayIcon}}"></i></td> -->
				<td>{{account.group_names | toString}}</td>
				<td>{{account.subgroup_names | toString}}</td>
				<td>{{account.language_names | toString}}</td>
				<td>{{account.region_names | toString}}</td>
				<td>{{account.country_names | toString}}</td>
	<!--		<td>{{account.segment_names | toString}}</td> -->
				<td ng-show="loggedInUser" style="text-align: center">
					<a href="#/accounts/edit/{{account.id}}"><i class="icon-pencil"></i></a>
					<a class="delete-icon" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="getAccountName($index)"><strong><span class="ion-close-round"></span></strong></i></a>
				</td>
            </tr>
        </tbody>
      </table>
    
     
</div>
