<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= @message.html_safe %><br/>
      Login to OpsWorks GovDash Stack and 
      Check cron job *.retrieve for user 'deploy'
    </p>
  </body>
</html>
