<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <%  
     @message = "Scheduler Daemon died, to restart, login to the page below and click Start all.<br/>"
     @message += "<a href='http://hub.bbgdirect.com/admin/schedulers/'>Start All Jobs</a>"
  %>
  <body>
    <p>
      <%= @message.html_safe %><br/>
    </p>
  </body>
</html>
