<!DOCTYPE html>
<html>
  <head>
  <% server = ActionMailer::Base.default_url_options[:server] 
     url = "http://#{server}/admin/error_logs"
     txt = " and click 'Fetch stats' link for row(s)"
     txt += " where Subject show 'failed'"
     href = "<a href='#{url}'>Login Dashboard</a>#{txt}"
  %>
    
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= @message.html_safe %><br/>
      <%= href.html_safe %><br/>
    </p>
  </body>
</html>
