<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <% host = "http://smdata.bbg.gov" %>
  <% host = "http://localhost:3000" %>
  </head>
  <body>
    <p>
    Thank you for registering with BBG Uberdashboard. Please confirm your
    email address within 48 hours by goto the link below:<br />
    <a href="#{host}/api/users/confirm?code=#{@user.confirmation_code}">  
    <%= host %>/api/users/confirm?code=<%=@user.confirmation_code%>
    <br/>
    </p>
    <p>BBG ODDI Team
    </p>
  </body>
</html>
