<!DOCTYPE html>
<html>
  <head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <% 
    host = @user.request_host || "http://localhost:3000"
    link = "#{host}/#/users/login" 
    hours = Rails.configuration.new_user_confirmation_expires_in
  %>
  </head>
  <body>
    <p>
    Your new password : <%= @pass %>
    <br />
    Please login to <a href="<%= link %>">BBG Social Media Dashboard</a> with new password
    </p>
    <p>
    This password will expire in <%= hours %> hours.
    </p>
  </body>
</html>
