<!DOCTYPE html>
<html>
  <head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <% 
    host = @user.request_host || "http://localhost:3000"
    link = "#{host}/#/users/login" 
    hours = Rails.configuration.new_user_confirmation_expires_in
  %>
  </head>
  <body>
    <p>Hello <%= @user.email%> !</p>
    <p>Someone has requested a link to change your password, and you can do this through the link below.</p>^M
    <p><a href="#{host}/#/users/edit/#{@user.reset_password_token}">Change my password</a></p>^M
    <p>If you didn't request this, please ignore this email.</p>^M
    <p>Your password won't change until you access the link above and create a new one.</p>^M
  </body>
</html>
