<div id="notice"></div>
<%= form_for instance_variable_get("@#{model_name}"), {:url=>_new_path, :method=>"post"} do |f| %>
  
  <% model_class.columns.each do |c| %>
  <% next if ['id', 'created_at', 'updated_at'].include? c.name %>
  <%= f.label c.name %>
  <%= f.text_field c.name %><br />
  <% end %>
  
  <%= f.submit "Create", :id=>"submit" %>
<% end %>
<script>
  jQuery(document).ready(function(){
     network.init(); 
  });
</script>

