<style type="text/css">
    body {
        background-color: #f5f5f5;
    }
</style>

<div class="sign-in-wrapper">
    <div class="sign-in-inner">
        <div class="login-brand text-center">
            <i class="fa fa-database m-right-xs"></i> <strong class="text-skin">Reset Password</strong>
        </div>

        <form name="loginForm" class="auth-form" ng-enter="changePassword(user)">
            <!--  <h2 class="auth-form-heading">Please sign in</h2><br/> -->
            <div class="alert alert-warning" ng-show="authReason">
                {{authReason}}
            </div>
            <div class="alert alert-error" ng-show="authError">
                {{authError}}
            </div>

            <div class="alert alert-info" ng-show="authSuccess" style="color: white">
                {{authSuccess}}
            </div>

            <div class="form-group m-bottom-md">
               <!-- <p>Please enter the email address used to create your account: </p> -->
                <input type="password" class="form-control" placeholder="New Password" ng-model="user.password" required autofocus>
            </div>
            <div class="form-group m-bottom-md">
                <!-- <p>Please enter the email address used to create your account: </p> -->
                <input type="password" class="form-control" placeholder="New Password (confirm)" ng-model="user.password_confirmation" required autofocus>
            </div>

            <div class="m-top-md p-top-sm">
                <a class="btn btn-success block" type="submit" ng-click="changePassword(user)" ng-disabled="loginForm.$invalid">Submit</a>

            </div>

        </form>
    </div><!-- ./sign-in-inner -->
</div><!-- ./sign-in-wrapper -->