<!-- user comes from $scope.user -->
<div>
	<p><a href="" back-button><i class="icon-angle-left"></i> Back</a></p>
	<div style="float:left" class="page-header">
		<h1>Edit a User</h1>
	</div>
	
</div>
<div style="clear:both;"></div>



<form class="form-horizontal col-md-6" role="form" data-ng-init="find()" ng-submit="update()" name="myForm">
		<div class="form-group">
			<label for="firstname" class="col-md-2 control-label">First Name</label>
			<div class="col-md-10">
				<input type="text" class="form-control" data-ng-model="user.firstname" id="firstname" placeholder="First Name" required>
			</div>
		</div>
		<div class="form-group">
			<label for="lastname" class="col-md-2 control-label">Last Name</label>
			<div class="col-md-10">
				<input type="text" class="form-control" data-ng-model="user.lastname" id="lastname" placeholder="Last Name" required>
			</div>
		</div>
		<div class="form-group">
			<label for="email" class="col-md-2 control-label">Email</label>
			<div class="col-md-10">
				<input type="text" class="form-control" data-ng-model="user.email" id="email" placeholder="Email" required>
			</div>
		</div>
		<div class="form-group">
			<label for="password2" class="col-md-2 control-label">Password</label>
			<div class="col-md-10">
				<input type="password" class="form-control" ng-model="password2" id="password2" password-match="password1" placeholder="Password"/>
			</div>
		</div>
		<div class="form-group">
			<label for="password1" class="col-md-2 control-label">Confirmation</label>
			<div class="col-md-10">
				<input type="password" class="form-control" ng-model="password1" id="password1" placeholder="Password Confirmation"/>  
			</div>
		</div>
		<div class="form-group">
			<label for="description" class="col-md-2 control-label">Role</label>
			<div class="col-md-10">
				<select class="form-control" id="selected-role" multiple ng-model="selectedRole" ng-options="role  | uppercase for role in roles"></select>
			</div>
		</div>
		<div class="form-group" ng-if="user.is_active == false">
			<label for="is_active" class="col-md-2 control-label">Status</label>
			<div class="col-md-10">
				<button class="btn btn-default" ng-click="setActive()">Activate</button>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<button type="submit" class="btn btn-default" ng-disabled="!myForm.$valid">Submit</button>
			</div>
		</div>
</form>

   
