<!-- user comes from $scope.user -->
<div>
	<p><a href="" back-button><i class="icon-angle-left"></i> Back</a></p>
	<div style="float:left" class="page-header">
		<h1>Users</h1>
	</div>
	
</div>
<div style="clear:both;"></div>

<!-- Modal for Delete Confirmation -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Delete Confirmation</h4>
	  </div>
	  <div class="modal-body">
	  	 <div ng-if="activeUser != email">
			<p>Are you sure you want to delete {{ firstName }} {{ lastName }} ({{ email }})?</p>
		 </div>
		 <div ng-if="activeUser == email">
			<p>Sorry, you cannot delete your own account. Please have another administrator initiate this action.</p>
		 </div>		
	  </div>
	  <div class="modal-footer">
	  	<div ng-if="activeUser != email">
			<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
			<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="confirmDelete()">Yes</button>
		</div>
		<div ng-if="activeUser == email">
			<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
		</div>
	  </div>
	</div><!-- /.modal-content -->
  </div>
</div>


<div data-ng-init="list()">
	 <!-- Table -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Email</th> 
            <th>Name</th>
            <th>Role</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in users" ng-attr-class="{{ user.is_active && 'user-active' || 'user-inactive' }}">
				<td>{{ user.email }}</td>
				<td>{{ user.firstname}} {{user.lastname }}</td>
				<td><span ng-repeat="role in user.roles">{{ role | uppercase }}<span data-ng-if="!$last">, </span></span></td>
				<td>{{ user.is_active | displayStatus }}</td>
				<td>
					<a href="#/users/edit/{{$index + 1}}"><i class="fa fa-pencil"></i></a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a ng-show="isAdmin" class="delete-icon" data-toggle="modal" data-target=".bs-example-modal-sm" ng-if="user.is_active == true" ng-click="getUserName($index)"><i class="fa fa-remove"></i></a>
				</td>
            </tr>
        </tbody>
      </table>
	
</div>