<style type="text/css">
    body {
        background-color: #f5f5f5;
    }
</style>

<div class="sign-in-wrapper">
    <div class="sign-in-inner">
        <div class="login-brand text-center">
            <i class="fa fa-database m-right-xs"></i> <strong class="text-skin">Register</strong>
        </div>


        <form name="registrationForm" class="auth-form">
            <div class="alert alert-warning" ng-show="authReason">
                {{authReason}}
            </div>
            <div class="alert alert-error" ng-show="authError">
                {{authError}}
            </div>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="First Name" ng-model="user.firstname" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Last Name" ng-model="user.lastname" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Email address" ng-model="user.email" required autofocus>
            </div>
            <hr>

            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" ng-model="user.password" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password" ng-model="user.confirm_password" required>
            </div>
            <a class="btn btn-success block" type="submit" ng-click="register(user)" ng-disabled="registrationForm.$invalid">Sign up</a>
        </form>
    </div><!-- ./sign-in-inner -->
</div><!-- ./sign-in-wrapper -->