<!-- user comes from $scope.user -->
<div>
	<p><a href="" back-button><i class="icon-angle-left"></i> Back</a></p>
	<div style="float:left" class="page-header">
		<h1>Segments</h1>
	</div>
	
</div>
<div style="clear:both;"></div>


<!-- Modal for Delete Confirmation -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Delete Confirmation</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete {{ segmentName }}?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="confirmDelete()">Yes</button>
      </div>
    </div><!-- /.modal-content -->
  </div>
</div>

<div data-ng-init="list()">
	<ul>
		<li data-ng-repeat="segment in segments" style="list-style: none">
			<div class="well segment-well">
				<p>
					<a href="#/segments/edit/{{segment.id}}" style="float: left">{{segment.name}}</a>				
					<a class="delete-icon" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="getSegmentName($index)" style="float: right"><strong>X</strong></i></a> 
				</p>
			</div>
		</li>
	</ul>
	
</div>


<!--
<div class="panel panel-default" ng-init="list()">
	  <br>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>SC ID</th>
            <th>Account</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="segment in segments">
				<td>{{segment.name}}</td>
				<td>{{segment.sc_id}}</td>
				<td>{{segment.account_id}}</td>
				<td>
					<a href="#/segment/edit/{{segment.id}}"><i class="icon-pencil"></i></a>
				<a class="delete-icon" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="getAccountName($index)"><strong>X</strong></i></a> 
				</td>
            </tr>
        </tbody>
      </table>

	
     
</div>
-->