.brand {
    line-height: 48px !important;
    float: left !important;
}

.back-button {
    position: relative;
    top: 30px;
}

.page-sub-header {
    line-height: 32px;
}

.sign-in-wrapper {
    padding-top: 40px !important;
}

.teal-button {
    background: #2BAAB1 !important;
    color: white !important;
    border: none !important;
}

.teal-tag {
    background: #4C5F70 !important;
    padding: 6px;
    margin: 4px;
    color: white;
}

.fa-spin {
    font-size: 64px !important;
    margin-top: 40px;
}

.delete-icon {
    color: #E36159;
    cursor: pointer;
}

.modal-sm {
    background: white;
}

div.xAxis div.tickLabel
{
    margin-top: 8px;
    transform: rotate(-70deg);
    -ms-transform:rotate(-70deg); /* IE 9 */
    -moz-transform:rotate(-70deg); /* Firefox */
    -webkit-transform:rotate(-70deg); /* Safari and Chrome */
    -o-transform:rotate(-70deg); /* Opera */
    /*rotation-point:50% 50%;*/ /* CSS3 */
    /*rotation:270deg;*/ /* CSS3 */
}

.no-data-found {
    text-align: center;
    padding: 20px;
}

.tab-bar {
    font-size: 11px;
}

.tab-pane {
    height: 180px;
}

.modal-filters {
    line-height: 40px;
}

.sm-accounts-icon {
    float:right;
    position: relative;
    top: 3px;
}

.settings-icon {
    float:right;
    position: relative;
    top: 3px;
}

.user-content {
    margin-left: 0px !important;
}