.brand {
    line-height: 48px !important;
    float: left !important;
}

.back-button {
    position: relative;
    top: 30px;
}

.page-sub-header {
    line-height: 32px;
}

.sign-in-wrapper {
    padding-top: 0px !important;
}

.teal-button {
    background: #2BAAB1 !important;
    color: white !important;
    border: none !important;
}

.teal-tag {
    background: #4C5F70 !important;
    padding: 6px;
    margin: 4px;
    color: white;
    white-space: nowrap;
}

.teal-tag span {
    white-space: nowrap;
}

.forward-slash {
    padding: 0px !important;
    margin: 0px !important;
    width: 5px !important;
    position: relative !important;
    top: 8px !important;
}

.fa-spin {
    font-size: 64px !important;
    margin-top: 40px;
}

.delete-icon {
    color: #E36159;
    cursor: pointer;
}

.modal-sm {
    background: white;
}

div.xAxis div.tickLabel
{
    margin-top: 8px;
    transform: rotate(-70deg);
    -ms-transform:rotate(-70deg); /* IE 9 */
    -moz-transform:rotate(-70deg); /* Firefox */
    -webkit-transform:rotate(-70deg); /* Safari and Chrome */
    -o-transform:rotate(-70deg); /* Opera */
    /*rotation-point:50% 50%;*/ /* CSS3 */
    /*rotation:270deg;*/ /* CSS3 */
}

.no-data-found {
    text-align: center;
    padding: 20px;
}

.tab-bar {
    font-size: 11px;
}

.tab-content {
    overflow: auto;
    height: 210px;
}

.tab-pane {
    height: 180px;
}

.modal-filters {
    line-height: 40px;
}

.sm-accounts-icon {
    float:right;
    position: relative;
    top: 3px;
}

.settings-icon {
    float:right;
    position: relative;
    top: 3px;
}

.user-content {
    margin-left: 0px !important;
}

.account-modal-footer {
    border-top: none !important;
}

.account-header-block {
    border-bottom: 5px solid #ddd;
    margin-bottom: 30px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-top: 10px;
    margin-top: 0;
}

.account-header-text {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 0;
    margin-left: 70px;
}

.sm-modal-icon {
    font-size: 80px;
}

.box-small {
    padding: 6px !important;
}

.modal-close-button {
    float: right;
    margin-right: 16px;
    margin-top: 2px;
    cursor:pointer;
    position :relative;
    top: -11px;
    font-weight: 900;
}

.vis-hidden{
    visibility: hidden;
}

.account-link {
    color: #428bca !important;
    text-decoration: none;
    font-weight: 500;
}

#tooltip {
    z-index: 999999999;
}

.form-horizontal {
    width: 100% !important;
}

.account-selection {
    margin-right: 30px;
}

.mediatype-selection {
    margin-right: 10px !important;
}

.segment-block {
    padding: 20px;
}

.form-horizontal {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #e4e4e4;
    border-image: none;
    border-radius: 3px;
    border-right: 1px solid #e4e4e4;
    border-style: solid;
    border-width: 4px 1px 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    padding-top: 25px;
}

.facebook-icon-list {
    background: #3278B3;
    color: white;
    padding-left: 4px;
    padding-right: 4px;
}

.twitter-icon-list {
    color: #23B7E5;
}

.youtube-icon-list {
    color: #E36159;
}

.account-icon {
    margin-right: 8px;
}

.fa-sort {
    left: 5px;
    position: relative;
}

.date-collected-since {
    left: 10px;
    position: relative;
    top: -20px;
    font-size: 12px;
}

.data-since {
    font-size: 11px;
}

.loading-indicator-div {
    text-align: center;
    position: relative;
    height: 0px;
    top: -83px;
}

.loading-indicator {
    font-size: 35px ! important;
    color: #A6AAB8 !important;
}

.count{
    position:absolute;
    width:10px;
    height:20px;
    line-height:20px;
    color:red;
    font-weight:bold;
}

.sub-date {
    color: gray;
    float: right;
    height: 10px;
    margin-left: 21px;
    position: relative;
    top: -17px;
}

.top-filters {
    margin-left: 20px;
    margin: 5px;
}

.cal-form-group {
    height: 60px;
}

.input-group-addon {
    cursor: pointer;
}

.fa-info-circle {
    cursor: pointer;
}

.m-top-md {
    position: relative;
    z-index: 20;
}

.date-error {
    border: 1px solid #d02d2d !important;
}

.date-error-msg {
    color: #d02d2d;
    padding: 5px;
    display: none;
}

.tooltip-inner {
    max-width: 210px !important;
}

#object_name {
    width: 116.7% !important;
}