.brand {
    line-height: 48px !important;
    float: left !important;
}

.back-button {
    position: relative;
    top: 30px;
}

.page-sub-header {
    line-height: 32px;
}

.sign-in-wrapper {
    padding-top: 40px !important;
}

.teal-button {
    background: #2BAAB1 !important;
    color: white !important;
    border: none !important;
}

.teal-tag {
    background: #4C5F70 !important;
    padding: 6px;
    margin: 4px;
    color: white;
}

.fa-spin {
    font-size: 64px !important;
    margin-top: 40px;
}

.delete-icon {
    color: #E36159;
    cursor: pointer;
}

.modal-sm {
    background: white;
}

div.xAxis div.tickLabel
{
    margin-top: 8px;
    transform: rotate(-70deg);
    -ms-transform:rotate(-70deg); /* IE 9 */
    -moz-transform:rotate(-70deg); /* Firefox */
    -webkit-transform:rotate(-70deg); /* Safari and Chrome */
    -o-transform:rotate(-70deg); /* Opera */
    /*rotation-point:50% 50%;*/ /* CSS3 */
    /*rotation:270deg;*/ /* CSS3 */
}

.no-data-found {
    text-align: center;
    padding: 20px;
}

.tab-bar {
    font-size: 11px;
}

.tab-content {
    overflow: auto;
    height: 200px;
}

.tab-pane {
    height: 180px;
}

.modal-filters {
    line-height: 40px;
}

.sm-accounts-icon {
    float:right;
    position: relative;
    top: 3px;
}

.settings-icon {
    float:right;
    position: relative;
    top: 3px;
}

.user-content {
    margin-left: 0px !important;
}

.account-modal-footer {
    border-top: none !important;
}

.account-header-block {
    border-bottom: 5px solid #ddd;
    margin-bottom: 30px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-top: 10px;
    margin-top: 0;
}

.account-header-text {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 0;
    margin-left: 70px;
}

.sm-modal-icon {
    font-size: 80px;
}

.box-small {
    padding: 6px !important;
}

.modal-close-button {
    float: right;
    margin-right: 16px;
    margin-top: 2px;
    cursor:pointer;
    position :relative;
    top: -11px;
    font-weight: 900;
}

.vis-hidden{
    visibility: hidden;
}

.account-link {
    color: #428bca !important;
    text-decoration: none;
    font-weight: 500;
}

#tooltip {
    z-index: 999999999;
}

.form-horizontal {
    width: 100% !important;
}
